# Ignore all hidden dotfiles
.*

# Whitelist useful dotfiles
!/.scss-linters/
!/.babelrc
!/.editorconfig
!/.eslintignore
!/.eslintrc.yml
!/.eslintrc
!/.prettierrc
!/.esmrc
!/.gitattributes
!/.gitignore
!/.hound.yml
!/.scss-lint.yml
!/.stylelintrc.yml
!/.sldsrc.defaults.yml
!/.stylestatsrc
!/.travis.yml
!/.github
!/.prettierignore
!/.htmlhintrc
!/.storybook

# Add a .gitkeep file in an empty
# directory to check it in the repository
!.gitkeep

# Ignore modules
/node_modules

# Ignore logs
*.log

# Ignore code coverage reports
coverage

# Legacy folders
/git_modules

build

package-lock.json

dist