
$transparent: transparent;
$tundora: #444444;
$link-water: #f4f6f9;
$white-lilac: #eef1f6;
$dodger-blue: #3582fb;
$cornflower-blue: #5697fc;
$cinder: #11111a;
$sunset-orange: #ff4d4f;
$guardsman-red: #d50002;
$emerald: #41C464;
$sea-green: #30a260;
$limeade: #4bc800;
$science-blue: #0070d2;
$cloud: #c9c7c5;
$blue-ribbon: #0f55eb;
$royal-blue: #295BE6;
$shamrock: #29CCA3;
$malibu-beach: #80bdff;
$azure-radiance: #007BFF;
$flush-mahogany: #c23934;
$valencia: #d94040;
$torch-red: #F5222D;
$mine-shaft: #2e2e2e;
$ebony-clay: #242A37;
$dodger-blue: #3582fb;