$size-square-xxx-small: 0.5rem;
$size-square-xx-small: 0.75rem;
$size-square-x-small: 0.8125rem;
$size-square-small: 0.875rem;
$size-square-medium: 1rem;
$size-square-large: 1.25rem;
$size-square-x-large: 1.5rem;
$size-square-xx-large: 2rem;
$size-square-xxx-large: 2.5rem;

$size-xxx-small: 6rem;
$size-xx-small: 8rem;
$size-x-small: 12rem;
$size-small: 15rem;
$size-medium: 20rem;
$size-large: 25rem;
$size-x-large: 40rem;
$size-xx-large: 60rem;
