
$background-color-destructive: $sunset-orange;
$background-color-destructive-hover: $guardsman-red;
$background-color-destructive-active: $guardsman-red;

$background-color-success: $emerald;
$background-color-success-dark: $sea-green;
