
$border-color: $palette-gray-4;

$border-color-destructive: $sunset-orange;
$border-color-destructive-hover: $guardsman-red;
$border-color-destructive-active: $guardsman-red;

$border-color-success: $emerald;
$border-color-success-dark: $sea-green;


$border-color-error: $valencia;