
// primary theme color
$theme-primary: $dodger-blue;
// active / hover state of theme-primary
$theme-primary-active: $cornflower-blue;

$theme-disabled: $cloud;

// dark variant of theme that is accessible with white
$theme-accessible: $dodger-blue;
$theme-accessible-active: $blue-ribbon;

$status-active: $mariner;
$status-warning: $pizazz;