// CSS properties order:
//  positioning
//  display & box model
//  color
//  text
//  other

@import '../affix/index';

.xyz-select {
  position: relative;
  width: 100%;
  min-width: 160px;
  // padding: 5px;
  border: $border-width-thin solid $border-color;
  color: rgba(16,45,63,.5);
  background-color: $white;
  font-size: $font-size-3;
  text-align: left;
  border-radius: $border-radius-medium;
}

.xyz-select__inner {
  display: flex;
  align-items: center;
}

.xyz-select__trigger {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  border-radius: 0;

  .xyz-select__trigger-content {
    flex: 1;
    color: #1f1f22;
    // font-weight: $font-weight-thick;
  }
}

.xyz-select-title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #7b7b7b;
  background-color: $white;
  border: $border-width-thin solid $border-color;
  font-size: .825rem;
  text-overflow: ellipsis;
  white-space: nowrap;

  span {
    padding: 0 $spacing-small;
  }
}

