// CSS properties order:
//  positioning
//  display & box model
//  color
//  text
//  other

.xyz-layout-content {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding: $spacing-medium;
    box-sizing: border-box;
    background: $white;
    clear: both;
    overflow: scroll;
}