
// default
$button-color-border-primary: $geyser;

// inverse
$button-color-border-inverse-disabled: $white-transparent-15;

$button-color-border-focus-inverse: $palette-cool-gray-4;

// disable
$button-border-color-disabled: $palette-cool-gray-5;
