
// brand
$button-color-text-brand-disabled: $white;
$button-color-background-primary: $white;

// disable
$button-color-text-disabled: $black_transparent_30;
$button-color-background-disabled: $palette-cool-gray-3;

// default
$button-color-text-default: $science-blue;
$button-color-background-default-hover: $link-water;
$button-color-background-default-active: $white-lilac;

// inverse
$button-color-text-inverse: $palette-cool-gray-4;
$button-color-text-inverse-disabled: $white-transparent-15;
$button-color-background-inverse: $transparent;
$button-color-background-inverse-disabled: $transparent;

