// CSS properties order:
//  positioning
//  display & box model
//  color
//  text
//  other

.xyz-pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: $font-size-3;
}

.xyz-pagination__verbose {
  color: #A5ADBA;
  font-size: $font-size-3;
  font-weight: $font-weight-thick;
}

.xyz-pagination__main {
  color: #555;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
}

.xyz-pagination__control {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  color: #000;
  vertical-align: middle;
  transition: all 0.3s;
  cursor: pointer;

  .xyz-icon {
    @include square($size-square-xx-small)
  }
}

.xyz-pagination__control_disabled .xyz-button {
  color: #ccc;
}

.xyz-pagination__previous {
  margin-right: 5px;
  .xyz-icon {
    margin-right: 3px;
  }
}

.xyz-pagination__next {
  margin-left: 5px;
  .xyz-icon {
    margin-left: 3px;
  }
}

.xyz-pagination__page {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  margin-left: 3px;
  margin-right: 3px;

  .xyz-button {
    min-height: 24px;
    min-width: 24px;
    margin: 0;
    border: none;
    border-radius: $border-radius-medium;
    color: #4878FF;
    background: transparent;
    font-size: $font-size-3;
    vertical-align: middle;
  }
}

.xyz-pagination__page_active .xyz-button {
  color: $white;
  background-color: #555;
}

.xyz-pagination .shift {

  .angle {
    opacity: 0;
    transition: all .2s;
    -webkit-transition: all .2s;
  }

  .ellipse {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    margin: auto;
    transition: all .2s;
    -webkit-transition: all .2s;
  }

  &:hover {
    .angle {
      opacity: 1;
    }
    .ellipse {
      opacity: 0;
    }
  }
}