// CSS properties order:
//  positioning
//  display & box model
//  color
//  text
//  other

.xyz-table-header table {
    @include table;
    border-radius: $table-border-radius $table-border-radius 0 0;
}

.xyz-thead,
.xyz-thead__tr,
.xyz-thead__th {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.xyz-thead__th {
    padding: 12px 0;
    min-width: 0;
    box-sizing: border-box;
    text-overflow: ellipsis;
    vertical-align: middle;
    position: relative;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
    padding: 0;
    height: 40px;
    white-space: nowrap;


}

.xyz-thead__th-cell {
    @include table-cell;
    color: $th-text-color;
    font-weight: $font-weight-bold;
}

.xyz-thead__th:first-child .xyz-thead__th-cell {
    padding-left: 30px;
}