// CSS properties order:
//  positioning
//  display & box model
//  color
//  text
//  other

@import '../option/index';

.xyz-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin: 0 0 8px;
  padding: 0;
}

.xyz-options .xyz-option:first-child {
  margin-left: 0!important;
}