// CSS properties order:
//  positioning
//  display & box model
//  color
//  text
//  other

.xyz-layout-header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    min-width: 600px;
    -webkit-box-shadow: 0 1px 0 0 rgba(42, 42, 42, 0.15);
    box-shadow: 0 1px 0 0 rgba(42, 42, 42, 0.15);
    background-color: $white;
    z-index: 301;
    transition: width 0.3s, left 0.3s;
}

.xyz-layout-header__inner {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: $layout-header-height;
    padding: 0 15px;
}

.xyz-layout-has-sidebar_left {
    .xyz-layout-header {
        left: $layout-sidebar-md-width;

        @include layout-breakpoint($layout-md-breakpoint) {
            left: $layout-sidebar-md-width-expanded;
        }
    }

    &.xyz-layout-has-sidebar_left-collapsed .xyz-layout-header {
        left: $layout-sidebar-md-width;
    }
}

.xyz-layout-has-sidebar_right {
    .xyz-layout-header {
        right: $layout-sidebar-md-width;

        @include layout-breakpoint($layout-md-breakpoint) {
            right: $layout-sidebar-md-width-expanded;
        }
    }

    &.xyz-layout-has-sidebar_right-collapsed .xyz-layout-header {
        right: $layout-sidebar-md-width;
    }
}