
// default
$button-text-color-default: $science-blue;
$button-background-color-default-hover: $link-water;
$button-background-color-default-active: $white-lilac;
$button-background-color-default-disabled: $white;

// disable
$button-text-color-disabled: $text-color-disabled;
$button-background-color-disabled: $palette-gray-3;

// theme
$button-background-color-primary: $white;
$button-text-color-theme-disabled: $white;

