// CSS properties order:
//  positioning
//  display & box model
//  color
//  text
//  other

.xyz-dropdown-overlay {
  display: none;

  &_active {
      position: fixed;
      display: block;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      z-index: 200;
  }
}