// CSS properties order:
//  positioning
//  display & box model
//  color
//  text
//  other

.xyz-button-group-row {
  display: inline-flex;

  .xyz-button-group-item + .xyz-button-group-item {
    margin-left: $spacing-xx-small;
  }

  .xyz-button-group-item .xyz-button {
    margin: 0;
  }
}
