// CSS properties order:
//  positioning
//  display & box model
//  color
//  text
//  other

.xyz-table-main {
    position: relative;
    width: 100%;
    overflow: hidden;

    table {
        @include table;
        border-left: none;
        border-right: none;
        border-color: $table-border-color;

        td {
            border-bottom: $border-width-thin solid $td-border-color;
        }
    }
}

.xyz-table-cell {
    @include table-cell;
}

.xyz-table-main table tr td:first-child .xyz-table-cell {
    padding-left: 30px;
}

.xyz-table-main table tr:last-child td {
    border-bottom: none;
}