// CSS properties order:
//  positioning
//  display & box model
//  color
//  text
//  other

.xyz-layout-sidebar {
    position: absolute;
    top: 0px;
    width: $layout-sidebar-md-width;
    height: 100%;
    background: $sidebar-background-color;
    transition: width 0.3s, left 0.3s;
    overflow: hidden;
    z-index: 300;

    @include layout-breakpoint($layout-md-breakpoint) {
        width: $layout-sidebar-md-width-expanded;
    }
}

.xyz-layout-sidebar__inner {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
}

.xyz-layout-sidebar_collapsed {
    width: $layout-sidebar-md-width !important;

    .xyz-layout-sidebar-header__inner {
        display: none;
    }

    .xyz-layout-sidebar-toggle {
        justify-content: center !important;
    }
}

.xyz-layout-sidebar-header {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    justify-content: center;
    height: $layout-header-height;
    padding: 0px 10px;
    color: $sidebar-header-text-color;
}

.xyz-layout-sidebar-header__inner {
    display: none;

    @include layout-breakpoint($layout-md-breakpoint) {
        display: block;
    }
}

.xyz-layout-sidebar-body {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-top: 10px;
}

.xyz-layout-sidebar-body__inner {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin-bottom: 20px;
    overflow: hidden;
    overflow-y: scroll;
}

.xyz-layout-sidebar_has-header .xyz-layout-sidebar-body__inner {
    margin-bottom: calc(20px + #{$layout-header-height});
}

.xyz-layout-sidebar_has-toggle .xyz-layout-sidebar-body__inner {
    margin-bottom: calc(20px + #{$layout-toggle-height});
}

.xyz-layout-sidebar_has-header.xyz-layout-sidebar_has-toggle .xyz-layout-sidebar-body__inner {
    margin-bottom: calc(20px + #{$layout-header-height} + #{$layout-toggle-height});
}

.xyz-layout-sidebar-toggle {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    height: $layout-toggle-height;
    padding: 0 10px;
    border: 0;
    border-top: $border-width-thin solid $layout-border-color;
    border-radius: 0px;
    background-color: transparent;
    color: $sidebar-toggle-text-color;
    transition: width 0.3s;
}

.xyz-layout-sidebar_left {
    left: 0px;
    box-shadow: inset -#{$border-width-thin} 0 0 $layout-border-color;

    .xyz-layout-sidebar-toggle {
        justify-content: flex-end;
        box-shadow: inset -#{$border-width-thin} 0 0 $layout-border-color;
    }
}

.xyz-layout-sidebar_right {
    right: 0px;
    box-shadow: inset $border-width-thin 0 0 $layout-border-color;

    .xyz-layout-sidebar-toggle {
        justify-content: flex-start;
        box-shadow: inset $border-width-thin 0 0 $layout-border-color;
    }
}

.xyz-layout-sidebar_collapsed .xyz-menu {
    .xyz-menu__title {
        border-top: 1px solid $layout-border-color;
        span {
            display: none;
        }
    }

    .xyz-menu-item__name {
        display: none;
    }
}